

@model Dairy_Malik_Mangement.Models.Milk

@{
    ViewData["Title"] = "Details";
}

<div class="container mt-5">
    <h1>Milk Details</h1>
    <div>
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.FirstName)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.FirstName)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Address)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Address)
            </dd>

            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.NearestLocation)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.NearestLocation)
            </dd>

            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.PhoneNumber)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.PhoneNumber)
            </dd>

            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Liter)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Liter)
            </dd>
        </dl>
    </div>
    <div>
        <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary">Edit</a> |
        <a asp-action="Index" class="btn btn-secondary">Back to List</a>
    </div>
</div>
